<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Parking Area</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div th:insert=" fragments/header :: navbar ">
</div>

<div class="container" style="margin: auto;">
    <h1>Parking Area</h1>
    <hr>
    <h2>Save Parking Area</h2>

    <form action="#" style="margin-top: 20px;padding-bottom: 10px" th:action="@{/parkingArea}" th:object="${parkingAreaDto}" method="POST">
        <input type="text"  style="max-width: inherit;" th:field="*{name}"  placeholder="Parking Area Name"   class="form-control mb-4 col-4">
        <input type="text"  style="max-width: inherit;" th:field="*{capacity}" placeholder="Parking Area Capacity" class="form-control mb-4 col-4">
        <input type="text"  style="max-width: inherit;" th:field="*{city}" placeholder="Parking Area City" class="form-control mb-4 col-4">
        <input type="text"  style="max-width: inherit;" th:field="*{available}" placeholder="Parking Area Avaible" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Save Parking Area</button>
    </form>
    <hr>
    <a th:href="@{/parking-area}">Back to Employee List</a>
</div>
</body>
</html>