<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Price List</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div th:insert=" fragments/header :: navbar ">
</div>

<div class="container my-2" align="center">
    <a th:href="@{/addNewPrice/{id}(id = ${id})}" class="btn btn-primary btn-sm mb-3" >Add Price List</a>

    <h3>Price List</h3>
    <table style="width:100%" border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Start Hour</th>
            <th>End Hour</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="priceList:${getByPriceList}">
            <td th:text="${priceList.startHour}"></td>
            <td th:text="${priceList.endHour}"></td>
            <td th:text="${priceList.price}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>